body {
    background-image: url(../images/bg5.png);
    background-color: #424251;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', Arial;
    font-size: 12px;
}

#container {
    margin: 0 auto;
    width: 860px;
    margin-bottom: 20px;
    margin-top: 30px;
}

#content {
    background-color: #FFF;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
    -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
}

.hidden {
    display: none;
}

.clear {
    clear: both;
}

h1 {
    font-size: 37px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 15px;
}

h5 {
    font-size: 13px;
}

h6 {
    font-size: 12px;
}

h3.main-heading {
    background-image: url('../images/plus.png');
    background-repeat: no-repeat;
    background-position: left 2px;
    margin: 15px 2px;
}

h3.main-heading span {
    border-bottom: 1px solid #999;
    padding-bottom: 7px;
    color: #333;
    line-height: 23px;
    margin-left: 28px;
    display: block;
}

strong {
    font-weight: bold;
    color: #333;
}

div.top {
    height: 60px;
    margin-bottom: 20px;
    overflow: hidden;
}

#logo {
    float: left;
    overflow: hidden;
    margin-left: 10px;
    display: none;
}

#logo h2 {
    font-size: 30px;
    font-weight: 900;
    color: #444;
    line-height: 40px;
}

#logo h4 {
    color: #666;
    line-height: 20px;
}

.socialicons {
    float: right;
    margin-top: 18px;
}

.socialicons li {
    float: left;
    display: inline;
    margin: 0;
    padding: 0;
    margin-right: 2px;
}

.social-icons li:last-child {
    margin-right: 0;
}

.social-text {
    float: left;
    padding: 9px;
    height: 12px;
    background-color: #222;
    color: #FFF;
}

.social-facebook {
    float: left;
    width: 30px;
    height: 30px;
    background: #222 url('../images/social_facebook.png') no-repeat 5px 5px;
}

.social-twitter {
    float: left;
    width: 30px;
    height: 30px;
    background: #222 url('../images/social_twitter.png') no-repeat 5px 5px;
}

.social-googleplus {
    float: left;
    width: 30px;
    height: 30px;
    background: #222 url('../images/social_googleplus.png') no-repeat 4px 3px;
}

.social-facebook:hover {
    background-color: #3b5998;
}

.social-twitter:hover {
    background-color: #22b1e5;
}

.social-googleplus:hover {
    background-color: #d94a38;
}

.social-mail:hover {
    background-color: #f6c500;
}

#home {
    background-image: url(../images/header-shadow.png), url(../images/header-bg.png);
    background: url(../images/header-bg.png) repeat-x\0/;
 /* For ie8 */
    background-position: center bottom, left top;
    background-repeat: repeat-x;
    overflow: hidden;
    background-color: #2c539e;
}

.about {
    float: left;
    margin-top: 30px;
    width: 490px;
    margin-left: 20px;
}

.about .photo-inner {
    float: left;
    background: url(../images/photo-inner.png) no-repeat;
    width: 192px;
    height: 212px;
    padding: 12px 0 0 20px;
}

.about .photo-inner img {
    background-color: #FFF;
}

.about h1 {
    color: #FFF;
    line-height: 34px;
    margin-top: 8px;
}

.about h3 {
    margin-top: 5px;
    font-size: 18px;
    color: #FFF;
    line-height: 18px;
}

.about p {
    font-size: 14px;
    margin-top: 15px;
    color: #fff;
    line-height: 20px;
}

.personal-info {
    float: left;
    margin-top: 30px;
    width: 310px;
    min-height: 230px;
    margin-left: 10px;
    background: url(../images/personal-info-sep.png) no-repeat left top;
    padding: 20px 0 0 20px;
}

.personal-info li {
    font-size: 14px;
    margin-bottom: 10px;
    overflow: hidden;
}

.personal-info li label {
    color: #fff;
    background-color: #04266f;
    float: left;
    padding: 4px 7px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.personal-info li span {
    padding: 2px;
    float: right;
    width: 210px;
    color: #fff;
}

.menu {
    height: 100px;
    background-color: #ededed;
    position: relative;
}

.tabs {
    height: 116px;
    position: absolute;
    margin-top: -14px;
    padding-left: 130px;
    z-index: 100;
}

.tabs li {
    float: left;
    height: 116px;
}

.tabs li > a {
    padding-top: 80px;
    width: 115px;
    height: 35px;
    display: block;
    background-repeat: no-repeat;
    font-size: 16px;
    color: #b9b9b9;
    text-align: center;
}

.tabs li.active {
    background: url('../images/tab-hover.png') no-repeat;
}

.tabs li.active a {
    color: #1d4eda;
}

.tabs li .tab-home {
    background-image: url(../images/profile-icon.png);
    background-position: center 40px;
}

.tabs li .tab-blog {
    background-image: url(../images/blogger-48.png);
    background-position: center 30px;
}

.tabs li .tab-project {
    background-image: url(../images/project-icon.png);
    background-position: center 35px;
}

.tabs li .tab-contact {
    background-image: url(../images/contact-icon.png);
    background-position: center 41px;
}

.tabs .active .tab-home {
    background-image: url(../images/profile-icon-active.png);
}

.tabs .active .tab-blog {
    background-image: url(../images/blog-icon-active.png);
}

.tabs .active .tab-project {
    background-image: url(../images/project-icon-active.png);
}

.tabs .active .tab-contact {
    background-image: url(../images/contact-icon-active.png);
}

#blog {
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 5px;
    overflow: hidden;
}

.blog-section {
    width: 98%px;
}

.blog {
    padding-top: 5px;
}

.blog li {
    margin-bottom: 20px;
}

.blog li .blogUnit {
    line-height: 17px;
    margin-left: 11px;
    color: #444;
    font-size: 13px;
    border-left: 1px solid #9b9c9e;
    padding-left: 15px;
}

.blog li .blogUnit .blogDate {
    line-height: 17px;
    color: #f4c024;
    font-size: 14px;
    margin-left: 10px;
    font-weight: normal;
    padding: 2px 6px;
    float: right;
}

.blog li .blogUnit h4 {
    line-height: 24px;
    font-size: 15px;
    color: #444;
}

.blog li .blogUnit h5 {
    line-height: 18px;
    font-size: 13px;
    color: #999;
}

.blog li .blogUnit p {
    color: #666;
    font-size: 12px;
    margin-top: 5px;
}

.blog li a {
    font-weight: bold;
    color: #4EBAFF !important;
    text-decoration: none;
}

.blog li a:hover {
    text-decoration: underline;
}

#project {
    padding: 0 20px 20px 20px;
    overflow: hidden;
}

#project .extra-text {
    font-size: 20px;
    padding: 24px 0;
    border-bottom: 1px solid #ededed;
    color: #999;
    margin-bottom: 20px;
}

#project-list {
    width: 820px;
}

#project-list li {
    float: left;
    margin-right: 25px;
    text-align: center;
    background-color: #f8f8f8;
    border-bottom: 1px solid #e5e5e5;
    height: 185px;
    margin-bottom: 30px;
    width: 180px;
}

#project-list li:hover {
    border-bottom: 1px solid #1d4eda;
    height: 185px;
}

#project-list img {
    background-color: #FFF;
    height: 120px;
    width: 180px;
}

#project-list li:hover .title {
    color: #1d4eda;
}

#project-list li .title {
    font-size: 14px;
    margin-top: 15px;
    font-weight: 400;
    color: #3A3A3A;
}

#project-list li .category {
    font-size: 11px;
    line-height: 25px;
    color: #999;
}

.adipoli-wrapper {
    margin: auto;
    position: relative;
    display: inline-block;
}

.adipoli-wrapper>img {
    position: absolute;
    z-index: 1;
}

.adipoli-before {
    position: absolute;
    z-index: 5;
}

.adipoli-after {
    position: absolute;
    z-index: 10;
}

.adipoli-slice {
    display: block;
    position: absolute;
    z-index: 15;
    height: 100%;
}

.adipoli-box {
    display: block;
    position: absolute;
    z-index: 15;
}

#contact {
    padding: 5px 0;
    overflow: hidden;
}

.contact-info, .contact-form {
    float: left;
    padding: 0 20px;
}

.contact-info {
    width: 250px;
}

.contact-form {
    width: 530px;
}

.contact-info ul {
    float: left;
    margin-left: 11px;
    border-left: 1px solid #9b9c9e;
    padding-left: 18px;
}

.contact-info ul li {
    font-size: 13px;
    line-height: 20px;
    color: #666;
    overflow: hidden;
}

.contact-info li img {
    float: left;
    margin-right: 5px;
    margin-top: 2px;
}

.contact-info li span {
    float: right;
    width: 190px;
}

.contact-info li a:hover {
    color: #4EBAFF !important;
    text-decoration: none;
}
	
#contactform {
    padding-left: 30px;
}

#contactform p {
    margin-bottom: 15px;
}

#contactform p label {
    display: block;
    color: #999;
    margin-bottom: 8px;
    font-size: 13px;
}

#contactform .input {
    line-height: 20px;
    height: 20px;
    width: 60%;
}

#contactform .textarea {
    width: 95%;
}

#contactform .input, .textarea {
    padding: 6px;
    background-color: #f5f5f5;
    border: 1px solid #CCC;
    color: #999;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-size: 13px;
}

.button {
    color: #fff;
    background-color: #666;
    padding: 8px;
    border: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    cursor: pointer;
    font-size: 13px;
}

.button:hover {
    background-color: #1d4eda;
}

.success, .error {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.success {
    background-color: #E3EBC6;
    color: #8FA442;
    border: 1px solid #C2D288;
}

.error {
    background-color: #f9e5e6;
    color: #b3696c;
    border: 1px solid #f7c7c9;
}

div.footer {
    margin-top: 20px;
    height: 20px;
}

div.footer .copyright {
    float: left;
    color: #cfd2d6;
    padding-left: 6px;
}

/*-------------------------------------------------------*/
	/* Media Queries */
/*-------------------------------------------------------*/

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    #container {
        width: 750px;
    }

    .about {
        width: 410px;
    }

    .about h1 {
        line-height: 38px;
        font-size: 30px;
    }

    .about h3 {
        font-size: 14px;
        line-height: 14px;
    }

    .personal-info {
        width: 280px;
        margin-right: 10px;
    }

    .blog-section {
        width: 380px;
        padding-right: 30px;
    }

    #project-list {
        width: 750px;
    }

    #project-list li {
        margin-right: 60px;
    }

    .contact-info {
        width: 250px;
    }

    .contact-form {
        width: 420px;
    }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    #container {
        width: 470px;
    }

    #logo h2 {
        font-size: 25px;
        font-weight: 900;
        color: #444;
        line-height: 30px;
    }

    #logo h4 {
        color: #666;
        line-height: 15px;
    }

    .socialicons {
        margin-top: 9px;
    }

    .social-text {
        display: none;
    }

    .about {
        width: 420px;
        display: block;
    }

    .about h1 {
        line-height: 38px;
        font-size: 30px;
    }

    .about h3 {
        font-size: 14px;
        line-height: 14px;
    }

    .personal-info {
        margin-top: 0;
        display: block;
        width: 420px;
        background: none;
        border-top: 1px solid #fdc62a;
    }

    .tabs {
        padding-left: 5px;
    }

    .blog-section {
        width: 420px;
        padding-right: 60px;
    }

    #project-list {
        width: 450px;
    }

    #project-list li {
        margin-right: 40px;
    }

    .contact-info {
        width: 420px;
    }

    .contact-form {
        margin-top: 20px;
        width: 420px;
    }
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	
    #container {
        width: 300px;
        margin-top: 10px;
    }

    #logo h2 {
        font-size: 25px;
        font-weight: 900;
        color: #444;
        line-height: 30px;
    }

    #logo h4 {
        color: #666;
        line-height: 15px;
    }

    .socialicons {
        display: none;
        !important;
    }

    div.top {
        height: 50px;
        margin-bottom: 5px;
    }

    .about {
        width: 280px;
        display: block;
        margin: 10px 0 15px 10px;
    }

    .about .photo-inner {
        margin-left: 40px;
        background: url(../images/photo-inner.png) no-repeat;
        width: 192px;
        height: 212px;
        padding: 12px 0 0 20px;
    }

    .about h1 {
        line-height: 38px;
        font-size: 30px;
        text-align: center;
    }

    .about h3 {
        font-size: 14px;
        line-height: 14px;
        text-align: center;
    }

    .about p {
        text-align: center;
    }

    .personal-info {
        margin-top: 0;
        display: block;
        width: 280px;
        background: none;
        border-top: 1px solid #fdc62a;
        margin-left: 10px;
        min-height: 180px;
        padding-left: 0;
    }

    .personal-info li {
        font-size: 13px;
    }

    .tabs {
        padding-left: 0px;
    }

    .tabs li > a {
        width: 75px;
        font-size: 14px;
    }

    .tabs li.active {
        background: none;
    }

    #blog {
        padding: 10px;
    }

    .blog-section {
        width: 280px;
        padding-right: 60px;
    }

    #project-list {
        width: 280px;
    }

    #project-list li {
        margin-left: 40px;
    }

    .contact-info {
        width: 280px;
    }

    .contact-form {
        margin-top: 20px;
        width: 280px;
    }

    .contact-info, .contact-form {
        padding: 0 10px;
    }
}

