@white: #fff;
@nice-blue: #1a8de6;

.border-radius (@radius: 12px) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
      -ms-border-radius: @radius;
       -o-border-radius: @radius;
          border-radius: @radius;
}

.perspective (@perspective: 400px, @origin-start: 50% , @origin-finish: 50%) {
    -webkit-perspective: @perspective;
       -moz-perspective: @perspective;
        -ms-perspective: @perspective;
         -o-perspective: @perspective;
            perspective: @perspective;

    -webkit-perspective-origin: @origin-start @origin-finish;
       -moz-perspective-origin: @origin-start @origin-finish;
        -ms-perspective-origin: @origin-start @origin-finish;
         -o-perspective-origin: @origin-start @origin-finish;
            perspective-origin: @origin-start @origin-finish;
}

.transition (@property: all, @duration: 400ms, @timing-function: ease, @delay: 0s) {
    -webkit-transition: @property @duration @timing-function @delay;
       -moz-transition: @property @duration @timing-function @delay;
        -ms-transition: @property @duration @timing-function @delay;
         -o-transition: @property @duration @timing-function @delay;
            transition: @property @duration @timing-function @delay;
}

.transform (@origin-start: 50% , @origin-finish: 0%) {
    -webkit-transform-origin: @origin-start @origin-finish;
       -moz-transform-origin: @origin-start @origin-finish;
        -ms-transform-origin: @origin-start @origin-finish;
         -o-transform-origin: @origin-start @origin-finish;
            transform-origin: @origin-start @origin-finish;
}

.transform-3d (@origin-start: 50% , @origin-finish: 0%) {
    .transform(@origin-start, @origin-finish);

    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.transform-translate3d (@x: 0px, @y: 105%, @z: 0px, @rotate: -90deg) {
    -webkit-transform: translate3d( @x, @y, @z ) rotateX( @rotate );
       -moz-transform: translate3d( @x, @y, @z ) rotateX( @rotate );
        -ms-transform: translate3d( @x, @y, @z ) rotateX( @rotate );
         -o-transform: translate3d( @x, @y, @z ) rotateX( @rotate );
            transform: translate3d( @x, @y, @z ) rotateX( @rotate );
}


.roll {
    color: @nice-blue !important;
    display: inline-block;
    text-decoration: none !important;
    overflow: hidden;
    vertical-align: top;

    .perspective;

    &:hover {
        span {
            background: #111;

            .transform-translate3d(0px, 0px, -30px, 90deg);
        }
    }

    span {
        display: block;
        position: relative;
        padding: 0 2px;

        .transition;
        .transform-3d;

        &:after {
            color: @white;
            background: @nice-blue;

            content: attr(data-title);
            display: block;
            padding: 0 2px;

            position: absolute;
            left: 0;
            top: 0;

            .transform;
            .transform-translate3d(0px, 105%, 0px, -90deg);
        }
    }
}
